.customer-form{
  min-width: 150px;
  /* max-width: 500px; */
  width: 100%;
}
mat-form-field{
  width: 100%;
}
.forty-percent{
  width: 40%;
}
.twenty-five-percent{
  width: 25%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.m-auto {
  margin: auto !important;
}
.button-row button{
  margin: 10px;
}
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

.xs {
  margin-right: 15px;
  width: 15%;
}

.sm {
  margin-right: 15px;
  width: 25%;
}
.measure-size{
  margin-right: 15px;
  width: 20%;
}
