{{ _customerService.customerForm.value | json }}
<mat-toolbar>
  <span>{{_customerService.customerForm.controls['$key'].value ? "Modify Customer Details" :
    "New Customer"}}</span>
    <span style="flex: 1 1 auto;"></span>
  <button tabindex="-1" class="btn-dialog-close" mat-stroked-button (click)="onClose()"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="_customerService.customerForm" (ngSubmit)="saveAll(_customerService.customerForm.value)" class="customer-form m-auto">
    <mat-vertical-stepper linear labelPosition="bottom">
      <!-- stepper for customer biodata -->
      <mat-step>
          <ng-template matStepLabel>Fill out Customer Biodata</ng-template>
          <input formControlName="$key" type="hidden">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <label style="padding-right: 10px;">Gender</label>
          <mat-radio-group aria-label="Select gender" formControlName="gender" >
            <mat-radio-button *ngFor="let sex of gender" [value]="sex">
              {{sex}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input matInput placeholder="Location" formControlName="location">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile Number" type="number" #mobileNumber maxlength="10" formControlName="telNo">
            <mat-icon aria-hidden="false" matPrefix>phone</mat-icon>
            <mat-hint align="end">{{mobileNumber.value.length}} / 10</mat-hint>
          </mat-form-field>
          <mat-form-field class="twenty-five-percent">
            <input matInput [matDatepicker]="curDate" placeholder="Today's Date" formControlName="currentDate">
            <mat-datepicker-toggle matSuffix [for]="curDate"></mat-datepicker-toggle>
            <mat-datepicker #curDate ></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="twenty-five-percent">
            <input matInput [matDatepicker]="endDate" placeholder="Completion Date" formControlName="completionDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate ></mat-datepicker>
          </mat-form-field>
        <mat-dialog-actions>
          <button mat-raised-button matStepperNext color="accent" type="button">Next</button>
        </mat-dialog-actions>
      </mat-step>
      <!-- stepper for customer material details -->
      <mat-step formGroupName="description">
          <ng-template matStepLabel>Fill out Customer Material Description</ng-template>
          <mat-form-field>
            <input matInput placeholder="style description" formControlName="designDescc">
          </mat-form-field>
          <!-- todo: reserve for a later version -->
          <!-- <mat-form-field>
            <input matInput placeholder="Material Pic" formControlName="matPic">
          </mat-form-field> -->
          <mat-form-field class="twenty-five-percent">
            <input matInput placeholder="Quantity" type="number" formControlName="matQty">
          </mat-form-field>
          <div formArrayName="accesories">
            <mat-divider
              [vertical]="false">
            </mat-divider>
            <div [formGroupName]="i" *ngFor="let item of matAccessories.controls; let i=index">
              <h5>Additional Accessories Detail</h5>
              <mat-form-field class="sm">
               <input matInput placeholder="Type" formControlName="itemType">
              </mat-form-field>
              <mat-form-field class="xs">
               <input matInput placeholder="Quantity" formControlName="itemQty">
              </mat-form-field>
              <mat-form-field class="xs">
               <input matInput placeholder="Amount" formControlName="itemAmt">
              </mat-form-field>
              <button mat-raised-button color="warn" type="button" (click)="deleteAccessories(i)">Delete</button>
            </div>
          </div>
          <div>
           <button mat-raised-button mat-button type="button" (click)="addAccessories()">Add Accessory</button>
          </div>
        <div class="button-row">
          <button mat-stroked-button type="button" color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button type="button" matStepperNext color="accent">Next</button>
        </div>
      </mat-step>
      <!-- stepper for customer measurement  -->
      <mat-step formGroupName="measurement">
          <ng-template matStepLabel>Fill out Customer Measurement Details(Inchs)</ng-template>
          <mat-grid-list cols="4" gutterSize="15px" rowHeight="3:2">
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Bust" formControlName="bust" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Waist" formControlName="waist" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Hips" type="number" formControlName="hips">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Shoulder" formControlName="shoulder" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Top Length" formControlName="topLength" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="skirt Length" formControlName="skirtLength" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Sleeve Length" formControlName="sleeveLength" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Full Length" formControlName="fullLength" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="thighs" formControlName="thighs" type="number">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Around Arm" formControlName="arndArm" type="number">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        <div class="button-row">
          <button mat-stroked-button type="button" color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button type="button" matStepperNext color="accent">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="bills">
          <ng-template matStepLabel labelPosition="bottom">Fill out Customer Bills Detail</ng-template>
          <mat-form-field class="forty-percent">
            <input matInput placeholder="Total Cost" type="number" formControlName="totalAmt">
          </mat-form-field>
          <mat-form-field class="forty-percent">
            <input matInput placeholder="Deposits" type="number" formControlName="deposits">
          </mat-form-field>
          <mat-form-field class="forty-percent">
            <input matInput placeholder="Total Deposits" type="number" formControlName="totalDeposits" readonly>
          </mat-form-field>
          <mat-form-field class="forty-percent">
            <input matInput placeholder="Amount to be paid" type="number" formControlName="outstandingBill" readonly>
          </mat-form-field>
        <div class="button-row">
          <button mat-stroked-button type="button" matStepperPrevious color="primary">Back</button>
          <button mat-raised-button color="accent" >Save All</button>
          <button mat-raised-button color="warn" (click)="clearForm()" type="button"> Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
</form>
</mat-dialog-content>


