/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* notification */
snack-bar-container.success {
  background-color: rgb(97, 214, 29);
  color: white;
}
snack-bar-container.notification simple-snack-bar {
  font-size: 15px !important;
  font-weight: bold;
}
div.container{
  margin: 0px 40px;
}
